# Genera
venv
__pycache__
.env
*.log
.DS_Store
Thumbs.db

# IDE and editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Python deploy
build/
dist/
*.egg-info/

# Frontend
node_modules/
src/frontend/node_modules/
src/frontend/dist/

*.db
*.db.bak